<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sam.coffeereminder" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >





        <service android:name="com.sam.coffeereminder.MyAlarmService" />
        <service android:name="com.sam.coffeereminder.WidgetService" />

        <service android:name=".WidgetDaydreamService" android:exported="true"
            android:icon="@drawable/coffeesmall" android:label="Coffeereminder" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


        <receiver
            android:name="com.sam.coffeereminder.WidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.sam.coffeereminder.WidgetSettings" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <activity
            android:name="com.sam.coffeereminder.WidgetSettings"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog"/>

    </application>

</manifest>
